
body{

  font-family: 'Poppins', sans-serif; 
}


section {

  background-color: white;

}


.hero{


  background-color: #1c1d25;
  height: 100vh;
  color: white;
  font-size: 40px;

}
footer{

  height: 500px;
  background-color: black ;

}

a{


  text-decoration: none;
  color: aliceblue;
}

nav{

display: flex;

justify-content: space-between;

}
ul{

  display: flex;
  list-style-type: none;
  width: 800px;
  justify-content: space-between;
  font-size: 30px;
}


li{


text-decoration: none;
}

h1{


  font-size: 90px;
  margin: 0;
}

h2{

  font-size: 50px;
}

p{

  font-size: 30px;
  font-weight: 300;
  margin: 0;
}

.hero-text{

margin-left: 80px;
margin-bottom: 200px;
}

.subtext{

font-size: 15px;
font-weight: 300;


}


.button{

  width: 200px;
  height: 55px;
  border-radius: 30px;
  background-color: coral  ;
  text-align: center;
  margin-right: 16px;
  font-weight: 300;
  font-size: 30px;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover{

background-color: #ef744b;

}

.button:active{

  background-color: #a9a9a9;
  color: #808080;
}


.buttons{

  display: flex;
  flex-direction: row;
  padding: 16px;

}


.button1{

  
  width: 200px;
  height: 55px;
  border-radius: 30px;
  background-color: #ff1493;
  
  text-align: center;
  margin-right: 8px;
  font-weight: 300;
  font-size: 30px;
  padding-top: 5px;
  margin-top: 20px;
}


.button1:hover{

  background-color: #ff007f;
  
  }
  
 .button1:active{
  
    background-color: #a9a9a9;
    color: #808080;
  }



.hero-area{

  display: flex;
 
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.socials{

padding-bottom: 200px;
cursor: pointer;

}

.logo{


  height: 200px;
  width: 200px;
   border-radius: 50%;
  object-fit: cover
}


.project-image{

  margin-top: 25px;
  width: 250px;
  border-radius: 125px;
  height: 180px;

}


.sclass{


  margin: 20px;
}

.section-shot{


  display: flex;
  justify-content: space-around; 
  
}

.headshot{


  display: flex;
  align-items: center;
}


.project-card{
    
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px rgb(165, 164, 164);
  margin: 10px;
  
}

.project-container{

  display: flex;
  justify-content: space-evenly;
}

.section-shot-alt{


  display: flex;
  flex-direction: column;
  text-align: center;
}


hr{

  margin-left: 20px;
  margin-right: 20px;
}


.project-link{


  text-decoration:none;

  color: #ef744b;


}


footer{


  text-align: center;
  background-color: black;
  color: white;
  height: 500px;

  padding: 80px;
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon a {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: 0px;
  right: 0px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right a {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left a {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right a {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}